<section class="module">
    <lib-module-header header="Номенклатура">
        <ng-template templateRef="headerToolbar">
            <div class="header-toolbar">
                <div class="header-toolbar__line">
                    <p-dropdown [options]="cities" optionLabel="name"></p-dropdown>
                    <p-dropdown [options]="cities" optionLabel="name" placeholder="Контрагент"></p-dropdown>
                    <input type="text" class="search" pInputText placeholder="Search" />
                </div>
                <div class="header-toolbar__line header-toolbar__splited">
                    <div class="header-toolbar__part">
                        <p-button icon="pi pi-check" label="Создать" styleClass="p-button-primary"></p-button>
                        <p-button icon="pi pi-upload" label="Загрузить" styleClass="p-button-secondary"></p-button>
                        <p-button icon="pi pi-upload" label="Отправить в банк"
                            styleClass="p-button-secondary"></p-button>
                    </div>
                    <div class="header-toolbar__part">
                        <p-button icon="pi pi-upload" label="Печать" styleClass="p-button-secondary"></p-button>
                        <p-button icon="pi pi-upload" label="Ещё" styleClass="p-button-secondary"></p-button>
                    </div>
                </div>
            </div>
        </ng-template>
    </lib-module-header>

    <div class="content">
        <iframe src="https://primeng.org" frameborder="0" height="100%" width="100%" allowfullscreen></iframe>
    </div>
</section>